{% extends 'admin/base.html.twig' %}

{% block breadcrumbs %}
<div class="grid-x">
    <div class="cell">                                
        <div class="callout callout-breadcrumbs" >
            <ul class="breadcrumbs">
                <li><a href=""><i class="fas fa-home"></i> 后台首页</a></li>
                <li><a href="">后台首页</a></li>                                
                <li>
                    <span class="show-for-sr">Current: </span> 后台首页
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}