{% extends 'admin/base.html.twig' %}

{% block main %}
 <!-- content -->
<div class="grid-x padding-1 shadow">
    <div class="cell">
        <a class="button hollow primary small" href="{{ path('admin.admin_role.add') }}">
            <i class="fas fa-plus"></i>
        添加</a>
        <a class="button info small float-right search">搜索</a>
        <!-- search -->   
        <div id="search" class="clearfix">
            <form action="" method="get" id="form-search">
                <div class="grid-x grid-padding-x">                                       
                    <div class="large-1 small-3 cell">
                        <label for="" class="text-right middle">编号:</label>
                    </div>
                    <div class="large-2 small-9 cell">
                        <input type="text" id="" name="" placeholder="" value="">
                    </div> 
                    <div class="large-1 small-3 cell">
                        <label for="" class="text-right middle">下拉框:</label>
                    </div>
                    <div class="large-2 small-9 cell">
                        <select name="" id="">
                            <option value="">全部</option>                                                    
                        </select>
                    </div> 
                    <div class="large-1 small-3 cell">
                        <label for="" class="text-right middle">输入框:</label>
                    </div>
                    <div class="large-1 small-9 cell">
                        <input type="text" id="" name="" placeholder="年份" value="">
                    </div>                                            
                    <div class="large-2 small-12 cell">
                        <button type="button" class="button alert hollow margin-bottom-0 padding-tb small" id="button-search"><i class="fas fa-search"></i> 查询</button>
                    </div>                                                                        
                </div>                        
            </form>
        </div>
        <!-- search end -->   
        <hr>                                
        {% for label, messages in app.flashes %}
        {% for message in messages %}
        <div class="{{ label }} callout" data-closable> 
            <button class="close-button" aria-label="alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ message }}</p> 
        </div> 
        {% endfor %}
        {% endfor %}
        <!-- table style 1 -->
        <div class="table-scroll">
            <table class="hover border gray">
                <thead>
                    <tr>                                  
                        <th class="text-center">角色</th> 
                        <th class="text-center">状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody id="tbody">                         
                    <tr class="text-center">
                        
                    </tr>    
                                                   
                </tbody>
            </table>
        </div>
        <!-- table style 1 end -->                                                            
    </div>
</div>
<!-- pagination -->
<div class="grid-x margin-top-2 align-center">
    
</div>
<!-- pagination end -->
<!-- content end -->
{% endblock %}
{% block extra %}
<script>
    const editURL = "/admin/admin_role/edit"
    const deleteURL = baseURL + "/api/admin/role/delete"
    const statusURL = baseURL + "/api/admin/role/status"
    axiosInstance.get("/api/admin/role/index")
        .then((response) => {
            let data = response.data
            if (data.code != 0) {
                layer.msg(data.msg)
            } else {
                layer.load(2)
                let tr = data.data.map((v) => {
                   return `
                        <tr class="text-center">
                            <td>${v.username}</td>
                            <td>
                                <div class="switch small">
                                    <input class="switch-input" id="yes-no-${v.id}" type="checkbox" data-id="${v.id}" data-href="${statusURL}" ${v.is_enabled ? "checked" : ""}>
                                    <label class="switch-paddle" for="yes-no-${v.id}">
                                        <span class="show-for-sr">状态?</span>
                                        <span class="switch-active" aria-hidden="true">启用</span>
                                        <span class="switch-inactive" aria-hidden="true">禁用</span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a class="hollow button small margin-bottom-0 padding-tb href-edit" href="${editURL}/${v.id}">
                                        <i class="fas fa-edit"></i>
                                    编辑</a>                           
                                    <button class="hollow button small alert margin-bottom-0 padding-tb ajax-delete" data-title="是否确认删除？" data-id="${v.id}" data-href="${deleteURL}">
                                        <i class="far fa-trash-alt"></i>
                                        删除</button>
                            </td>
                        </tr>
                    `
                })                
                //$("#tbody").html(tr.join(''))
                document.querySelector("tbody").innerHTML = tr.join('')
                layer.closeAll()
            }
        })
        .catch((error) => {
            console.log(error)
        })
    
    
</script>
{% endblock %}