{% extends 'admin/base.html.twig' %}

{% block main %}
                    <div class="grid-x  padding-1 shadow">
                        <div class="cell">
                            {% for label, messages in app.flashes %}
                            {% for message in messages %}
                            <div class="{{ label }} callout" data-closable> 
                                <button class="close-button" aria-label="alert" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p>{{ message }}</p>   
                            </div>                      
                            {% endfor %}   
                            {% endfor %}  
                        </div>
                        <div class="cell">                                                          
                            <form id="form" method="post" novalidate="novalidate">
                               <div>
                                    <label for="name" class="required">用户名</label>
                                    <input type="text" id="username" name="username" required="required">
                                </div>
                                <div>
                                    <label for="name" class="required">密码</label>
                                    <input type="text" id="password" name="password" required="required">
                                </div>
                                 <div>
                                    <label for="role" class="required">分配角色</label>
                                    <select id="role_id" name="role_id">
                                        <option value="">--请选择--</option>
                                        
                                    </select>
                                </div>
                                
                                <div>
                                    <label for="name" class="required">描述</label>
                                    <textarea name="descript"></textarea>
                                </div>
                                <div>
                                    <button type="button" id="submit" class="button small">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
{% endblock %}
{% block extra %}
<script>
    const adminRolesURL = baseURL + "/api/admin/role/all"
    const addURL = baseURL + "/api/admin/add"

    $(function() {  
        //获取所有admin roles
        axiosInstance.get(adminRolesURL)
            .then((response) => {
                let data = response.data
                if (data.code != 0) {
                    layer.msg(data.msg)
                } else {
                    layer.load(2)
                    let option = data.data.map((v) => {
                    return `
                            <option value="${v.id}">${v.name}</option>
                        `
                    })                
                    document.querySelector("#role_id").innerHTML = '<option value="">--请选择--</option>' + option.join('')
                    layer.closeAll()
                }
            })  
            .catch((error) => {
                console.log(error)
            })   
        $('#submit').click(function() {
            if ($('#username').val() == '') {
                layer.msg('请先填写用户名');
                return false;
            }
            if ($('#password').val() == '') {
                layer.msg('请先填写登陆密码');
                return false;
            }
           
            axiosInstance.post(addURL, $("#form").serialize())
                .then((response) => {
                    let data = response.data
                    if (data.code == 1) {
                        layer.msg(data.msg, {time:2000, icon:5}, function() {
                            layer.closeAll()
                        })                        
                    } else {
                        layer.msg(data.msg, {time:2000, icon:1}, function() {
                            location.reload()
                        }) 
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
        })
    })
</script>
{% endblock %}